$min-color: #3434b8 ; 
$white : #fff ; 
$black : #2a2a2a ; 

//classes 
.active-bidding{
    border: 1px solid $min-color;
    color: $min-color !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}