@import "./vars" ; 
@import "./notifications" ; 

body{
    background-color: #eee !important;
}
.bidding{
    padding: 50px 70px;
    .type{
        width: 600px;
        margin: auto;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        li{
            color: $black;
            font-size: 20pt;
            width: 200px;
            padding: 5px 10px;
            text-align: center;
            cursor: pointer;
        }
        li + li{
            margin-right: 50px;
        }
    }
    .current{
        background-color: $min-color;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -webkit-border-radius: 15px;
        width: 700px;
        margin: auto;
        padding: 20px 70px 50px;
        .info{
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $white;
            margin-bottom: 15px;
            .value{
                h5{
                    margin-bottom: 15px;
                }
            }
            .date{
                h5{
                    margin-bottom: 15px;
                }
            }
        }
        .btn{
            color: $min-color;
            background-color: $white;
            padding: 10px 15px;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
            box-shadow: none;
            transition: all 300ms ease;
            &:hover{
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                filter: brightness(96%);
                -webkit-filter: brightness(96%);
            }
        }
    
    }
    .current + .current{
        margin-top: 20px;
    }
    .prev-items{
        padding: 20px 0 0px;
        .info{
            padding-inline:70px
        }
        .winner{
            background-color: $white;
            border: 0.5px solid #777;
            padding: 20px;
           border-bottom-left-radius: 15px;
           border-bottom-right-radius: 15px;
            .title{
                display: flex;
                align-items: center;
                h5{
                    color: $black;
                    font-size: 20pt;
                    margin-left: 20px;
                }
                .email{
                    display: flex;
                    align-items: center;
                    i{
                        background-color: #ddd;
                        width: 70px;
                        height: 70px;
                        line-height: 70px;
                        color: #999;
                        text-align: center;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                    .accounts{
                        margin-right: 20px;
                        display: flex;
                        flex-direction: column;
                        span{
                            color: $black;
                            font-size: 15pt;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
    .prev-items + .prev-items{
        margin-top:30px;
    }
}

//ltr
html[dir = "ltr"]{
    .bidding{
        .type{
            li + li{
                margin-right: 0;
                margin-left: 50px;
            }
        }
        .prev-items{
            .winner{
                .title{
                    h5{
                        margin-right: 20px;
                        margin-left: 0;
                    }
                    .email{
                        .accounts{
                            margin-right: 0;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

// responsive-design 
@media (max-width: 768px){
    .bidding{
        padding-inline: 30px;
    }
}
@media (max-width: 575.98px){
    .bidding{
        .type{
            width: 555px;
        }
        padding-inline: 10px;
        .current{
            width: 550px;
        }
    }
}
@media (min-width: 360px) and (max-width: 420px){
    .bidding{
        padding-inline: 0;
        .type{
            width: 300px;
            li{
                font-size: 12pt;
            }
        }
        .current-items{
            width: 330px;
            padding: 20px 20px 30px ;
        }
        .prev-items{
            width: 340px;
            .info{
                padding-inline: 20px;
            }
            .winner{
                padding-inline: 10px;
                .title{
                    h5{
                        margin-left: 10px;
                        font-size: 15pt;
                    }
                    .email{
                        i{
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 15pt;
                        }
                        .accounts{
                            span{
                                font-size: 10pt;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 280px) and (max-width: 350px){
    .bidding{
        padding-inline: 0;
        .type{
            width: 250px;
            li{
                font-size: 12pt;
            }
        }
        .current-items{
            width: 270px;
            padding: 20px 20px 30px ;
            .info{
                h5{
                    font-size: 10pt;
                }
                p{
                    font-size: 8pt;
                }
            }
            .btn{
                font-size: 10pt;
            }
        }
        .prev-items{
            width: 270px;
            .info{
                padding-inline: 20px;
                h5{
                    font-size: 10pt;
                }
                p{
                    font-size: 8pt;
                }
            }
            .winner{
                padding-inline: 10px;
                .title{
                    h5{
                        margin-left: 10px;
                        font-size: 15pt;
                    }
                    .email{
                        i{
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            font-size: 15pt;
                        }
                        .accounts{
                            span{
                                font-size: 10pt;
                            }
                        }
                    }
                }
            }
        }
    }
}

//responsive-design-ltr

@media (min-width: 360px) and (max-width: 420px){
    html[dir = "ltr"]{
        .bidding{
            .prev-items{
                .winner{
                    .title{
                        h5{
                            margin-left: 0;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 280px) and (max-width: 350px){
    html[dir =  "ltr"]{
        .bidding{
            .prev-items{
                .winner{
                    .title{
                        h5{
                            margin-right: 10px;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

