.active-bidding {
  border: 1px solid #3434b8;
  color: #3434b8 !important;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.bidding {
  padding: 50px 70px;
}

.bidding .type {
  width: 600px;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.bidding .type li {
  color: #2a2a2a;
  font-size: 20pt;
  width: 200px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}

.bidding .type li + li {
  margin-right: 50px;
}

.bidding .current {
  background-color: #3434b8;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  width: 700px;
  margin: auto;
  padding: 20px 70px 70px;
}

.bidding .current .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}

.bidding .current .info .value h5 {
  margin-bottom: 15px;
}

.bidding .current .info .date h5 {
  margin-bottom: 15px;
}

.bidding .current .btn {
  color: #3434b8;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.bidding .current .btn:hover {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  filter: brightness(96%);
  -webkit-filter: brightness(96%);
}

.bidding .current + .current {
  margin-top: 20px;
}

.bidding .prev-items {
  padding: 20px 0 0px;
}

.bidding .prev-items .info {
  padding-inline: 70px;
}

.bidding .prev-items .winner {
  background-color: #fff;
  border: 0.5px solid #777;
  padding: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bidding .prev-items .winner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bidding .prev-items .winner .title h5 {
  color: #2a2a2a;
  font-size: 20pt;
  margin-left: 20px;
}

.bidding .prev-items .winner .title .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bidding .prev-items .winner .title .email i {
  background-color: #ddd;
  width: 70px;
  height: 70px;
  line-height: 70px;
  color: #999;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.bidding .prev-items .winner .title .email .accounts {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bidding .prev-items .winner .title .email .accounts span {
  color: #2a2a2a;
  font-size: 15pt;
  font-weight: bold;
}

.bidding .prev-items + .prev-items {
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */